body {
  background-color: #ecf9ff;
  font-family: 'Roboto', sans-serif;
}
.enter-a-city {
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 70%;
  padding: 20px;
}
.search-a-city {
  background-color: #3c486b;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  color: #ecf9ff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 20px;
  width: 100px;
  text-align: center;
}
.search-a-city:hover {
  background-color: #205295;
  transition: all 150ms ease-in-out;
}
.search-container {
  text-align: center;
}
.container {
  background-color: #b7cadb;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 75%;
}
.current-detail-container {
  background-color: #3c486b;
  border-radius: 10px;
  color: #f0f0f0;
  height: 30%;
  justify-content: left;
  padding: 10px;
  width: 20%;
}
a {
  color: #161a30;
}
.flex-detail {
  display: flex;
  position: relative;
  padding-top: 10px;
  justify-content: space-around;
}

.current-temperature {
  font-size: 50px;
}
.current-temperature-emoji {
  font-size: 50px;
}
.units {
  font-size: 20px;
  font-weight: 900px;
  position: relative;
  bottom: 20px;
}
.forecast {
  background-color: #3c486b;
  border-radius: 10px;
  color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  width: 86%;
  text-align: center;
  margin: 0 auto;
}
.footer {
  text-align: center;
  position: relative;
  top: 20px;
}
