body {
  background-color: #f0ece5;
  font-family: 'PT Sans', sans-serif;
}
.enter-a-city {
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  width: 80%;
  padding: 20px;
}
.search-a-city {
  background-color: #161a30;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  color: #f0ece5;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 20px;
  width: 100px;
  text-align: center;
}
.search-a-city:hover {
  background-color: #205295;
  transition: all 150ms ease-in-out;
}
.search-container {
  text-align: center;
}
.container {
  background-color: #b6bbc4;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 75%;
}
a {
  color: #161a30;
}
.flex-detail {
  display: flex;
  position: relative;
  padding-top: 10px;
  justify-content: space-between;
}

.current-temperature {
  font-size: 50px;
}
.current-temperature-emoji {
  font-size: 50px;
}
.units {
  font-size: 20px;
  font-weight: 900px;
  position: relative;
  bottom: 20px;
}
.forecast {
  display: flex;
  justify-content: space-between;
}
