body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.enter-a-city {
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 70%;
  padding: 20px;
}
.search-a-city {
  background-color: #204969;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 20px;
  width: 100px;
  text-align: center;
}
.search-a-city:hover {
  background-color: #08ffc8;
  color: #204969;
  transition: all 150ms ease-in-out;
}
.search-container {
  text-align: center;
}
.container {
  background-color: #dadada;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 75%;
}
.api-driven-city {
  position: relative;
  left: 20px;
  bottom: 40px;
  font-size: 30px;
}
.location-detail {
  text-align: center;
}

.current-detail-container {
  font-size: 16px;
}
a {
  color: #161a30;
}
h1 {
  margin-bottom: 0;
}
.flex-detail {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  width: 86%;
}

.current-temperature {
  font-size: 60px;
}
.current-temperature-emoji {
  font-size: 50px;
}
.units {
  font-size: 20px;
  font-weight: 900px;
  position: relative;
  bottom: 25px;
}
.forecast {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: 0 auto;
}
.forecast-containers {
  background-color: #204969;
  border-radius: 10px;
  color: #f0f0f0;
  padding: 30px;
  text-align: center;
  width: 10%;
}
.forecast-day {
  padding-bottom: 20px;
}
.forecast-emoji {
  font-size: 30px;
  padding-bottom: 20px;
}
.footer {
  text-align: center;
  position: relative;
  top: 20px;
}

.api-feels-like {
  color: #204969;
}
.api-windspeed {
  color: #204969;
}
.api-humidity {
  color: #204969;
}
